@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,100);

*{
	font-family: 'Roboto', sans-serif;
	font-weight:100;
}
html, body{height:100%}

aside{
	background: #1ABC9C;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	width:45px;
	transition: all 0.7s; 
}

aside nav ul{
	padding-left:0;
}

aside nav ul li{
	display:flex;
	align-items: center;
	list-style-type: none;
	padding: 10px;
	cursor:pointer;
}

aside nav ul li span{
	color:#fff;
	padding-left:20px;
	padding-right:20px;
	opacity:0;
	transition: all 0.7s;
}

aside:hover nav ul li span{
	opacity: 1;
	}

aside:hover{
	width:150px;
	height: 100%; /*_Setting to 100% doesn't work, because of the margin-top:51px setting. The correct value should be 100%-51px, but I don't know how to set this with css :-( */
	overflow-x: hidden; 
	overflow-y: clip; 
	position: fixed; 
	z-index: 1;
}

aside nav ul li:hover{
	background-color: #16A085;
}

.material-icons{
	color:#fff;
}

.avatar{
	width:35px;
	border-radius:50%;
	background-color:#fff;
	margin:5px;
	margin-top:10px;
	transition:all 0.7s;
}

aside:hover .avatar{
	width:90px;
	margin-left:30px;
	margin-top:30px;
}
aside::-webkit-scrollbar-track
{
	--webkit-box-shadow: inset 0 0 6px  rgb(123, 243, 219);
	border-radius: 10px;
	background-color: #F5F5F5;
}

aside::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

aside::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	--webkit-box-shadow: inset 0 0 6px  rgb(123, 243, 219);
	background-color:  #16A085;
}
